<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">
<main layout:fragment="content">
	<div class="lololo">
		<form role="form" th:object=${guideDto} th:action="@{/guideInsertProc}" method="POST" 
			enctype="multipart/form-data" id="guideInsertForm">
			<br />
			<div class="younghak">
				<label for="title" style="font-weight: bolder">제목</label> 
				<input type="text" th:field="*{title}" id="title" style="width:730px;height:30px;"
					placeholder="제목을 입력하세요!!!" required="required">
			</div>
			<br />
			<div class="hakyoung">
				<textarea name="content" id="content" rows="10" cols="100"
					style="width: 766px; height: 412px; display: inline;" th:field="*{content}" placeholder="내용을 입력하세욥~!"></textarea>
			</div>
			<br /> <br />
			<div style="text-align: center;">
				<input class="btn-dark" type="submit" th:value="목록" th:formaction="@{/guideList}">
				<input class="btn-dark" type="button" id="info_chk2" th:value="작성" > 
				<input class="btn-dark" type="submit" th:value="취소">
			</div>
		</form>
	</div>
	<br /> <br />
</main>
<th:block layout:fragment="script">
	
	<script>
	
		var oEditors = [];
		
		let token = $("meta[name='_csrf']").attr("content");
		let header = $("meta[name='_csrf_header']").attr("content");
	
		localStorage.setItem("token", token);
		localStorage.setItem("header", header);
		
		$(function() {
			$(document).ajaxSend(function(e, xhr, options) {
				xhr.setRequestHeader(header, token);
			});
		});

		nhn.husky.EZCreator.createInIFrame({
			oAppRef : oEditors,
			elPlaceHolder : "content",
			sSkinURI : "static/resources/editor/SmartEditor2Skin.html",
			htParams : {
				bUseToolbar : true, // 툴바 사용 여부 (true:사용/ false:사용하지 않음)
				bUseVerticalResizer : false, // 입력창 크기 조절바 사용 여부 (true:사용/ false:사용하지 않음)
				bUseModeChanger : true, // 모드 탭(Editor | HTML | TEXT) 사용 여부 (true:사용/ false:사용하지 않음)
				fOnBeforeUnload : function() {
				}
			}, 
			fOnAppLoad : function() {
				//예제 코드
				//oEditors.getById["ir1"].exec("PASTE_HTML", ["로딩이 완료된 후에 본문에 삽입되는 text입니다."]);
			},
			fCreator : "createSEditor2"
		});
		
		 function pasteHTML(filepath) {
            var sHTML = '';
            oEditors.getById["content"].exec("PASTE_HTML", [sHTML]);
        } 
		
		/* function pasteHTML(filepath){
	        var sHTML = '<img src="<%=ctx%>/webapp/resources/photoUpload/'+filepath+'">';
	        editor_object.getById["smarteditor"].exec("PASTE_HTML", [sHTML]);
	    }  */

		function showHTML() {
			var sHTML = oEditors.getById["content"].getIR();
			alert(sHTML);
		}

		function submitContents(elClickedObj) {
			oEditors.getById["content"].exec("UPDATE_CONTENTS_FIELD", []); // 에디터의 내용이 textarea에 적용됩니다.

			// 에디터의 내용에 대한 값 검증은 이곳에서 document.getElementById("content").value를 이용해서 처리하면 됩니다.

			try {
				elClickedObj.form.submit();
			} catch (e) {
			}
		}

		function setDefaultFont() {
			var sDefaultFont = '궁서';
			var nFontSize = 24;
			oEditors.getById["content"].setDefaultFont(sDefaultFont, nFontSize);
		}
		
		$("#info_chk2").click(function(){
			oEditors.getById["content"].exec("UPDATE_CONTENTS_FIELD", []);
			$("#guideInsertForm").submit();
		});

		
 
	</script>
</th:block>
</html>