<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.majin.bit.dao.GuideDao">
	
	<select id="getGuideBoardSize" resultType="int">
		select count(*) FROM guide where guide_no > 0
	</select>
	
	<select id="getGuideBoardList" resultType="com.majin.bit.dto.GuideDto" parameterType="com.majin.bit.dto.Pagination">
		SELECT * FROM guide
		ORDER BY guide_no DESC LIMIT #{startIndex}, #{pageSize}
	</select>

	<select id="GuideBoardDetail" parameterType="int" resultType="com.majin.bit.dto.GuideDto">
		SELECT * FROM guide
		WHERE guide_no=#{g_no}
	</select>

	<insert id="GuideBoardInsert" parameterType="com.majin.bit.dto.GuideDto" keyProperty="guide_no">
		INSERT INTO guide(title, content)
		VALUES (#{title}, #{content})
	</insert>
	
	<update id="GuideBoardUpdate" parameterType="com.majin.bit.dto.GuideDto">
		UPDATE 	guide SET
		<if test="title != null">title=#{title}</if>
		<if test="title != null and content != null">,</if>
		<if test="content != null">content=#{content}</if>
		WHERE guide_no=#{guideNo}
	</update>

	<delete id="GuideBoardDelete" parameterType="int">
		DELETE FROM guide WHERE guide_no=#{guideNo}
	</delete>
		
	<select id="PagingGuideBoard" resultType="com.majin.bit.dto.GuideDto" parameterType="com.majin.bit.dto.Pagination">
		SELECT * FROM guide WHERE title LIKE CONCAT('%',#{search},'%') ORDER BY guide_no DESC LIMIT #{startIndex}, #{pageSize}
	</select>

	<select id="SelectGuideBoard" resultType="int" parameterType="java.lang.String">
		SELECT count(*) FROM guide  
		<!-- WHERE title LIKE CONCAT('%',#{search},'%')  -->
			
		<trim prefix="WHERE" prefixOverrides="AND|OR">		
			<if test="searchType=='title' and keyword != null and keyword != '' ">
				AND TITLE like CONCAT('%', #{search}, '%')
			</if>
			<if test="searchType=='content' and keyword != null and keyword != '' ">
				AND CONTENT like CONCAT('%', #{search}, '%')
			</if>
			<if test="searchType=='titlecontent' and keyword != null and keyword != '' ">
				AND TITLE like CONCAT('%', #{search}, '%') OR CONTENT like CONCAT('%', #{search}, '%')
			</if>
		</trim>
		
	</select>

</mapper>