<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.majin.bit.dao.HorseDao">
	<insert id="horseInsert" parameterType="java.util.Map">
		INSERT INTO HORSESKINNY(HRNO, HRNAME, TRNO, RATING, RANKS, NATION, SEX, BIRTHDAY, TOTALRECORDS, CONSECUTIVEWINNINGP, COMPLEMENTARYRATE, WINNINGP)
		VALUES
		<foreach collection="list" item="item" index="index" separator=",">
			(#{item.hrNo}, #{item.hrName}, #{item.trNo}, #{item.rating}, #{item.rank}, #{item.nation}, #{item.sex}, {item.birthDay}, 
			 #{item.totalRecords}, #{item.ConsecutiveWinningP}, #{item.ComplementaryRate}, #{item.WinningP})
		</foreach>
		ON DUPLICATE KEY UPDATE
			HRNO = values(HRNO), 
			HRNAME = values(HRNAME), 
			TRNO = values(TRNO), 
			RATING = values(RATING), 
			RANKS = values(RANKS), 
			NATION = values(NATION),
			SEX = values(SEX), 
			BIRTHDAY = values(BIRTHDAY),  
			TOTALRECORDS = values(TOTALRECORDS), 
			CONSECUTIVEWINNINGP = values(CONSECUTIVEWINNINGP), 
			COMPLEMENTARYRATE = values(COMPLEMENTARYRATE),
			WINNINGP = values(WINNINGP)
	</insert>
</mapper>