<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
  <header th:fragment="headerFragment">
  	  <!-- Navigation -->
	  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
			<div class="container">
				<a class="navbar-brand" th:href="@{/}"><img src="/static/logo/마진_투명로고_축소.png"></a>
				<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item dropdown">
						<a sec:authorize="isAnonymous()" class="nav-link dropdown-toggle" href="#" id="navbarDropdownPages" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 더보기 </a>
						<a sec:authorize="isAuthenticated()" class="nav-link dropdown-toggle" href="#" id="navbarDropdownPages" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span sec:authentication="name"></span>님 </a>
						<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPages">
							<a sec:authorize="isAnonymous()" class="dropdown-item" th:href="@{/login}">로그인</a> <!-- 로그인 하면 로그아웃으로 변경되고 회원가입이 사라지고 마이페이지 생겨야 함-->
							<a sec:authorize="isAnonymous()" class="dropdown-item" th:href="@{/signup}">회원가입</a>
							<a sec:authorize="isAuthenticated()" class="dropdown-item" th:href="@{/logout}">로그아웃</a>
							<a sec:authorize="isAuthenticated()" class="dropdown-item" th:href="@{/changepw}">비밀번호 변경</a>
							<a sec:authorize="isAuthenticated()" class="dropdown-item" th:href="@{/disableid}">회원탈퇴</a>
						</div></li>
					</ul>
				</div>
			</div>
	  </nav>
	</header>
</html>
