<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<!-- Page Content -->
<div id="information" class="container">
	<div id="guide">
		<form>
			<div style="display: inline-block;">
				<input name="gsearch" id="gsearch" type="text"
					placeholder="검색어를 입력해주세요"> <a class="btn btn-dark"
					role="button" id="gsearchbut" onclick="guidesearch()">검색</a>
			</div>
			<div class="copi" style="display: inline-block;"></div>
			<div style="display: inline-block;">
				<a class="btn btn-dark" th:href="@{/guideInsert}" role="button"
					sec:authorize="hasRole('ROLE_ADMIN')">작성</a>
			</div>
		</form>
			<table class="table table-hover" style="margin: auto;">
				<thead style="text-align: center;">
					<tr>
						<th style="text-align: center;">순서</th>
						<th style="text-align: center;">제목</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="data : ${guideList}"
						th:onclick="'window.location.href = \'' + @{/guideDetail/{g_no}(g_no=${data.guideNo})} + '\''">
						<td th:text="${data.guideNo}"
							style="cursor: pointer; text-align: center;"></td>
						<td th:text="${data.title}"
							style="cursor: pointer; text-align: center;"></td>
						<!-- <td th:utext="${data.content}"
							style="cursor: pointer; text-align: center;"></td> -->

					</tr>
				</tbody>

			</table>
		</div>
		<br /> <br /> <br />

		<div id="guidePaging" class="row justify-content-md-center-paging"
			aria-label="Page navigation example">
			<ul class="pagination">
				<li class="page-item"
					th:class="${1 == guidePagination.page} ? 'page-item disabled'">
					<a class="page-link" th:onclick="guidefirst(1)"
					aria-label="Previous"> <span aria-hidden="true">처음</span>
				</a>
				</li>
				<li class="page-item"
					th:class="${1 == guidePagination.page} ? 'page-item disabled'">
					<a class="page-link"
					th:onclick="guideprevious([[${guidePagination.prevBlock}]])"
					aria-label="Previous"> <span aria-hidden="true">이전</span>
				</a>
				</li>
				<th:block
					th:with="start = ${guidePagination.startPage}, end = ${guidePagination.endPage}">
					<li class="page-item"
						th:with="start = ${guidePagination.startPage}, end = ${guidePagination.endPage}"
						th:each="pageButton : ${#numbers.sequence(start, end)}"
						th:class="${pageButton == guidePagination.page} ? 'page-item active'">
						<a class="page-link" th:onclick="guidecurrent([[${pageButton}]])"
						th:text=${pageButton} id="page"></a>
					</li>
				</th:block>
				<li class="page-item"
					th:class="${guidePagination.totalPageCnt == guidePagination.page} ? 'page-item disabled'">
					<a class="page-link"
					th:onclick="guidenext([[${guidePagination.nextBlock}]])"
					aria-label="Next"> <span aria-hidden="true">다음</span>
				</a>
				</li>
				<li class="page-item"
					th:class="${guidePagination.totalPageCnt == guidePagination.page} ? 'page-item disabled'">
					<a class="page-link"
					th:onclick="guideend([[${guidePagination.totalPageCnt}]])"
					aria-label="Previous"> <span aria-hidden="true">끝</span>
				</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- /.container -->