<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout2">
<main layout:fragment="content">
	<!-- Page Content -->
	<div class="container">
		<div style="padding: 10px; text-align: center;">
			<h1 class="mt-4 mb-3">
				<a th:href="@{/guideList}" style="text-decoration: none;">초보자
					가이드</a>
			</h1>
		</div>
		<div style="text-align: right;">
			
			<a class="btn btn-default" th:href="@{/guideInsert}" role="button"
				sec:authorize="hasRole('ROLE_ADMIN')" >작성</a>
		</div>
		<div>
			<table class="table table-hover">
				<thead style="text-align: center;">
					<tr>
						<th style="text-align: center;">순서</th>
						<th style="text-align: center;">제목</th>
						<th style="text-align: center;">내용</th>

					</tr>
				</thead>
				<tbody>
					<tr th:each="data : ${guideList}"
						th:onclick="'window.location.href = \'' + @{/guideDetail/{g_no}(g_no=${data.guideNo})} + '\''">
						<td th:text="${data.guideNo}"
							style="cursor: pointer; text-align: center;"></td>
						<td th:text="${data.title}"
							style="cursor: pointer; text-align: center;"></td>
						<td th:utext="${data.content}"
							style="cursor: pointer; text-align: center;"></td>

					</tr>
				</tbody>
			</table>
		</div>
		<br /> <br /> <br />
	</div>
	<!-- /.container -->
	
</main>
<th:block layout:fragment="script">
<!-- Bootstrap core JavaScript -->
		<script src="/static/vendor/jquery/jquery.min.js"></script>
		<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</th:block>
</html>