<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
</head>

<body>
	<div>
		<div style="padding: 10px; text-align: center;">
			<h1>
				<a th:href="@{/guideList}" style="text-decoration: none;">초보자 가이드</a>
			</h1>
		</div>

		<div>
			<div>
				<form role="form" th:object=${guideDto}
					th:action="@{/guideList}" method="post">
					  	<div>
						<label style="font-weight: bolder;">제목</label>
						<p th:text="${detail.title}"></p>
						<input type="hidden" th:field="${detail.title}">
					</div>
					<div>
						<label for="" style="font-weight: bolder;">내용</label>
						<p th:text="${detail.content}"></p>
						<input type="hidden" th:field="${detail.content}">
					</div>
					 <div style="text-align: right;">
						<input type="submit" th:value="목록" th:formaction="@{/guideList}">
						<input type="submit" th:value="수정" th:formaction="@{/admin/guideUpdate/{g_no} (g_no=${detail.guideNo})}" sec:authorize="hasRole('ROLE_ADMIN')">
						<input type="submit" th:value="삭제" th:formaction="@{/admin/guideDelete/{g_no} (g_no=${detail.guideNo})}" sec:authorize="hasRole('ROLE_ADMIN')">
					</div> 
				</form>
			</div>

		</div>

		<br />
		<br />
		<br />

	</div>
</body>
</html>