<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<!-- Page Content -->
<div id="information" class="container">
	<div id="guide">
		<form>	
			<div>
				<input name="gsearch" id="gsearch" type="text" placeholder="검색어를 입력해주세요">
				 <a class="btn btn-dark" role="button" id="gsearchbut" onclick="guidesearch()">검색</a> 
			</div>
		</form>
		<div style="text-align: right;">
			<a class="btn btn-dark" th:href="@{/guideInsert}" role="button"
				sec:authorize="hasRole('ROLE_ADMIN')">작성</a>
		</div>
		
		<div>
			<table class="table table-hover">
				<thead style="text-align: center;">
					<tr>
						<th style="text-align: center;">순서</th>
						<th style="text-align: center;">제목</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="data : ${searchguide}"
						th:onclick="'window.location.href = \'' + @{/guideDetail/{g_no}(g_no=${data.guideNo})} + '\''">
						<td th:text="${data.guideNo}"
							style="cursor: pointer; text-align: center;"></td>
						<td th:text="${data.title}"
							style="cursor: pointer; text-align: center;"></td>

					</tr>
					<tr>
						<td colspan="2"></td>
					</tr>
				</tbody>
				
			</table>
		</div>
		<br/><br/>
		<div id="horsePaging" class="row justify-content-md-center-paging"
			aria-label="Page navigation example">
			<ul class="pagination">
				<li class="page-item"
					th:class="${1 == guidePagination.page} ? 'page-item disabled'">
					<a class="page-link" th:onclick="guidesearchfirst(1,[[${guidePagination.search}]])" aria-label="Previous">
						<span aria-hidden="true">처음</span>
				</a>
				</li>
				<li class="page-item"
					th:class="${1 == guidePagination.page} ? 'page-item disabled'">
					<a class="page-link"
					th:onclick="guidesearchprevious([[${guidePagination.prevBlock}]],[[${guidePagination.search}]])"
					aria-label="Previous"> <span aria-hidden="true">이전</span>
				</a>
				</li>
				<th:block
					th:with="start = ${guidePagination.startPage}, end = ${guidePagination.endPage}">
					<li class="page-item"
						th:with="start = ${guidePagination.startPage}, end = ${guidePagination.endPage}"
						th:each="pageButton : ${#numbers.sequence(start, end)}"
						th:class="${pageButton == guidePagination.page} ? 'page-item active'">
						<a class="page-link" th:onclick="guidesearchcurrent([[${pageButton}]],[[${guidePagination.search}]])"
						th:text=${pageButton} id="page"></a>
					</li>
				</th:block>
				<li class="page-item"
					th:class="${guidePagination.totalPageCnt == guidePagination.page} ? 'page-item disabled'">
					<a class="page-link"
					th:onclick="guidesearchnext([[${guidePagination.nextBlock}]],[[${guidePagination.search}]])"
					aria-label="Next"> <span aria-hidden="true">다음</span>
				</a>
				</li>
				<li class="page-item"
					th:class="${guidePagination.totalPageCnt == guidePagination.page} ? 'page-item disabled'">
					<a class="page-link"
					th:onclick="guidesearchend([[${guidePagination.totalPageCnt}]],[[${guidePagination.search}]])"
					aria-label="Previous"> <span aria-hidden="true">끝</span>
				</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- /.container -->
<script src="/static/js/majin.js"></script>