<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}" />
<meta charset="UTF-8">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<title>Insert title here</title>
</head>
<body>
	<div>
		<h3>경주마 프로필</h3>
		<table border=1>
			<tr>
				<th>마명</th>
				<td>[[${horse.hrName}]]</td>
				<th>생년월일</th>
				<td>[[${horse.birthDay}]]</td>
				<th>레이팅</th>
				<td>[[${horse.rating}]]</td>
				<th>마번</th>
				<td>[[${horse.hrNo}]]</td>
			</tr>
			<tr>
				<th>등급</th>
				<td>[[${horse.ranks}]]</td>
				<th>성별</th>
				<td>[[${horse.sex}]]</td>
				<th>산지</th>
				<td>[[${horse.nation}]]</td>
				<th>조교사</th>
				<td >kljlk</td>
			</tr>
			<tr>
				<th>통산전적</th>
				<td>[[${horse.totalRecords}]]</td>
				<th>승률</th>
				<td>[[${horse.WinningP}]]</td>
				<th>복승률</th>
				<td>[[${horse.ComplementaryRate}]]</td>
				<th>연승률</th>
				<td>[[${horse.ConsecutiveWinningP}]]</td>
			</tr>
		</table>
	</div>
	<script>
	let token = $("meta[name='_csrf']").attr("content");
	let header = $("meta[name='_csrf_header']").attr("content");
	
	$(function() {
	    $(document).ajaxSend(function(e, xhr, options) {
	        xhr.setRequestHeader(header, token);
	    });
	});
	
	/* function trainerDetail(trNo, meet){
		if(trNo != "0AAAAA" && trNo != "0BBBBB" && trNo != "프리기수" ){
			let form = document.createElement("form");
			form.setAttribute("method", "POST");
			form.setAttribute("action", "/trainerDetail");
			
			let hiddenField1 = document.createElement("input");
			hiddenField1.setAttribute("type", "hidden");
			hiddenField1.setAttribute("name", "trNo");
			hiddenField1.setAttribute("value", trNo);
			
			let hiddenField2 = document.createElement("input");
			hiddenField2.setAttribute("type", "hidden");
			hiddenField2.setAttribute("name", "meet");
			hiddenField2.setAttribute("value", meet);
			
			let csrf1 = document.createElement("input");
			csrf1.setAttribute("type", "hidden");
			csrf1.setAttribute("name", "_csrf");
			csrf1.setAttribute("value", token);
	
			form.appendChild(csrf1);
			form.appendChild(hiddenField1);
			form.appendChild(hiddenField2);
			document.body.appendChild(form);
			form.submit();
		} */
	}
	</script>
</body>
</html>