<!DOCTYPE html>
<html
  lang="ko"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="layout/layout"
>
<main layout:fragment="content">
	<div class="gride">
		<div id="information" class="container">
			<h1 class="my-4">경주마 정보</h1>
			  <div class="row justify-content-md-center">
					<div class="col-sm-top">마명</div>
					<div class="col-sm-top">레이팅</div>
					<div class="col-sm-top">등급</div>
					<div class="col-sm-top">산지</div>
					<div class="col-sm-top">성별</div>
					<div class="col-sm-3-top">전적</div>
			    </div>	
				<!-- Marketing Icons Section -->
			    <div class="row justify-content-md-center" th:each="horse, index : ${horsePaging}">
					<div class="col-sm"><a th:onclick='horseDetail([[${horse.hrNo}]], [[${horse.trNo}]], [[${horse.meet}]])' th:text="${horse.hrName}" href="#KRA" ></a></div>
					<div class="col-sm" th:text="${horse.rating}"></div>
					<div class="col-sm" th:text="${horse.ranks}"></div>
					<div class="col-sm" th:text="${horse.nation}"></div>
					<div class="col-sm" th:text="${horse.sex}"></div>
					<div class="col-sm-3" th:text="${horse.totalRecords}"></div>
			    </div>
			    <div id="horsePaging" class="row justify-content-md-center-paging" aria-label="Page navigation example">
				  <ul class="pagination">
					  <li class="page-item" th:class="${1 == pagination.page} ? 'page-item disabled'">
					      <a class="page-link" th:onclick="first(1,[[${pagination.search}]])" aria-label="Previous"> <!-- th:href="@{/search/horseSearch(pageNo=1, search=${pagination.search})}" -->
					        <span aria-hidden="true">처음</span>
					      </a>
					    </li>
					    <li class="page-item" th:class="${1 == pagination.page} ? 'page-item disabled'">
					      <a class="page-link" th:onclick="previous([[${pagination.prevBlock}]],[[${pagination.search}]])" aria-label="Previous"> <!-- th:href="@{/search/horseSearch(pageNo=${pagination.prevBlock}, search=${pagination.search})}"  -->
					        <span aria-hidden="true">이전</span>
					      </a>
					    </li>
					    <th:block  th:with="start = ${pagination.startPage}, end = ${pagination.endPage}">
						    <li class="page-item" th:with="start = ${pagination.startPage}, end = ${pagination.endPage}" 
						    th:each="pageButton : ${#numbers.sequence(start, end)}" th:class="${pageButton == pagination.page} ? 'page-item active'">
						    		<a class="page-link" th:onclick="current([[${pageButton}]],[[${pagination.search}]])"  th:text=${pageButton} id="page"></a> <!-- th:href="@{/search/horseSearch(pageNo=${pageButton}, search=${pagination.search})}" -->
						    </li>
					    </th:block>
					    <li class="page-item" th:class="${pagination.totalPageCnt == pagination.page} ? 'page-item disabled'">
					      <a class="page-link" th:onclick="next([[${pagination.nextBlock}]],[[${pagination.search}]])" aria-label="Next"> <!-- th:href="@{/search/horseSearch(pageNo=${pagination.nextBlock}, search=${pagination.search})}" -->
					        <span aria-hidden="true">다음</span>
					      </a>
					    </li>
					    <li class="page-item" th:class="${pagination.totalPageCnt == pagination.page} ? 'page-item disabled'">
					      <a class="page-link" th:onclick="end([[${pagination.totalPageCnt}]],[[${pagination.search}]])" aria-label="Previous"> <!-- th:href="@{/search/horseSearch(pageNo=${pagination.totalPageCnt}, search=${pagination.search})}" -->
					        <span aria-hidden="true">끝</span>
					      </a>
					   </li>
				  </ul>
			   </div>
		</div>
	</div>	
</main>
<th:block layout:fragment="script">
	<!-- Bootstrap core JavaScript -->
	<script src="/static/vendor/jquery/jquery.min.js"></script>
	<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script th:inline="javascript">
		let token = $("meta[name='_csrf']").attr("content");
		let header = $("meta[name='_csrf_header']").attr("content");
		
		if([[${pagination.page}]] == 1){
			history.pushState(
					{pageNo : [[${pagination.page}]], 
					 search : [[${pagination.search}]]},
					 null, null);
		}
		
		$(function() {
			$(document).ajaxSend(function(e, xhr, options) {
				xhr.setRequestHeader(header, token);
			});
		});
		
		function first(pageNo, search){
			horseSearchPaging(pageNo, search);
		}
		
		function previous(pageNo, search){
			horseSearchPaging(pageNo, search);
		}
		
		function current(pageNo, search){
			horseSearchPaging(pageNo, search);
		}
		
		function next(pageNo, search){
			horseSearchPaging(pageNo, search);
		}
		
		function end(pageNo, search){
			horseSearchPaging(pageNo, search);
		}
		
		function horseSearchPaging(pageNo, search){
			console.log(pageNo);
			console.log(search);
			let data;
			$.ajax({
				url : "/search/horseSearchPaging",
				type : "POST",
				data : {
						"pageNo" : pageNo,
						"search" : search
						},
                dataType : "text",
				success : function(retVal) {
					$("#information").val("");
					$("#information").replaceWith(retVal);	
					data = retVal;
				},
				error : function(retVal) {
					alert("error");
				}
			});
			history.pushState(
					{pageNo : pageNo, 
					 search : search},
					 null, null);	
		}
		
		/* $(window).on('popstate', function(event) {
	        window.location = document.location.href;
	    }); */
	    $(window).on('popstate', function(event) {
	    	  let data = event.originalEvent.state;
	    	  console.log(data);
	    	  $.ajax({
					url : "/search/horseSearchPaging",
					type : "POST",
					data : {
							"pageNo" : data.pageNo,
							"search" : data.search
							},
	                dataType : "text",
					success : function(retVal) {
						$("#information").val("");
						$("#information").replaceWith(retVal);
					},
					error : function(retVal) {
						alert("error");
					}
				});
	    }); 
	    
		function horseDetail(hrNo, trNo, meet) {
			
			let form = document.createElement("form");
			form.setAttribute("method", "POST");
			form.setAttribute("action", "/horseDetail");

			let hiddenField1 = document.createElement("input");
			hiddenField1.setAttribute("type", "hidden");
			hiddenField1.setAttribute("name", "hrNo");
			hiddenField1.setAttribute("value", hrNo);

			let hiddenField2 = document.createElement("input");
			hiddenField2.setAttribute("type", "hidden");
			hiddenField2.setAttribute("name", "trNo");
			hiddenField2.setAttribute("value", trNo);
			
			let hiddenField3 = document.createElement("input");
			hiddenField3.setAttribute("type", "hidden");
			hiddenField3.setAttribute("name", "meet");
			hiddenField3.setAttribute("value", meet);

			let csrf1 = document.createElement("input");
			csrf1.setAttribute("type", "hidden");
			csrf1.setAttribute("name", "_csrf");
			csrf1.setAttribute("value", token);

			form.appendChild(csrf1);
			form.appendChild(hiddenField1);
			form.appendChild(hiddenField2);
			form.appendChild(hiddenField3);
			document.body.appendChild(form);
			form.submit();
		}
	</script>
</th:block>