<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<div id="information" class="container">
	<h1 class="my-4">경주마 프로필</h1>
		<div class="row justify-content-md-center">
		<div class="col-sm-1-top">마명</div>
		<div class="col-sm-2" th:text="${horseDetail.hrName}"></div>
		<div class="col-sm-1-top">등급</div>
		<div class="col-sm-2" th:text="${horseDetail.ranks}"></div>
		<div class="col-sm-1-top">레이팅</div>
		<div class="col-sm-1" th:text="${horseDetail.rating}"></div>
		<div class="col-sm-1-top">마번</div>
		<div class="col-md-3" th:text="${horseDetail.hrNo}"></div>
		<div class="col-sm-1-top">성별</div>
		<div class="col-sm-2" th:text="${horseDetail.sex}"></div>
		<div class="col-sm-1-top">산지</div>
		<div class="col-sm-2" th:text="${horseDetail.nation}"></div>
		<div class="col-sm-1-top">지역</div>
		<div class="col-sm-1" th:if="${horseDetail.meet} == 1">서울마</div>
		<div class="col-sm-1" th:if="${horseDetail.meet} == 2">제주마</div>
		<div class="col-sm-1" th:if="${horseDetail.meet} == 3">부산마</div>
		<div class="col-sm-1-top">생년월일</div>
		<div class="col-md-3" th:text="${horseDetail.birthDay}"></div>
		<div class="col-sm-1-top">승률</div>
		<div class="col-sm-2" th:text="${horseDetail.WinningP}"></div>
		<div class="col-sm-1-top">복승률</div>
		<div class="col-sm-2" th:text="${horseDetail.ComplementaryRate}"></div>
 		<div class="col-sm-1-top">연승률</div>
		<div class="col-sm-1" th:text="${horseDetail.ConsecutiveWinningP}"></div>
		<div class="col-sm-1-top">통산전적 </div>
		<div class="col-md" th:text="${horseDetail.totalRecords}"></div> 
	</div>
</div>