<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<meta charset="UTF-8">
<title>main</title>
</head>
<body>
	<a th:href="@{/home}">홈</a>
	<div>
		<input id="search" type="text" placeholder="Search Box" name="search" />
	</div>
	<div id="test">
		<th:block th:unless="${#lists.isEmpty(searchHorse)} ">
			<h3>말 목록</h3>
			<table border=1>
				<tr>
					<th>말 번호</th>
					<th>말 이름</th>
					<th>말 성별</th>
					<th>말 등급</th>
					<th>말 국가</th>
					<th>말 출생년도</th>
					<th>레이팅</th>
					<th>조교사 번호</th>
					<th>통산전적</th>
					<th>승률</th>
					<th>복승률</th>
					<th>연승률</th>
				</tr>
				<tr th:each="horse : ${searchHorse}">
					<td th:text="${horse.hrNo}"></td>
					<td th:onclick='horseDetail([[${horse.hrNo}]], [[${horse.trNo}]])' th:text="${horse.hrName}"></td>
					<td th:text="${horse.sex}"></td>
					<td th:text="${horse.ranks}"></td>
					<td th:text="${horse.nation}"></td>
					<td th:text="${horse.birthDay}"></td>
					<td th:text="${horse.rating}"></td>
					<td th:text="${horse.trNo}"></td>
					<td th:text="${horse.totalRecords}"></td>
					<td th:text="${horse.WinningP}"></td>
					<td th:text="${horse.ComplementaryRate}"></td>
					<td th:text="${horse.ConsecutiveWinningP}"></td>
				</tr>
			</table>
		</th:block>
		
		<th:block th:unless="${#lists.isEmpty(searchTrainer)} ">
			<h3>조교사 목록</h3>
			<table border=1>
				<tr>
					<th>조교사 번호</th>
					<th>조교사 이름</th>
					<th>소속조</th>
					<th>데뷔일자</th>
					<th>최근 1년 전적</th>
					<th>통산 전적</th>
					<th>통산 승률</th>
					<th>통산 복승률</th>
					<th>통산 연승률</th>
				</tr>
				<tr th:each="tr : ${searchTrainer}">
					<td th:text="${tr.trNo}"></td>
					<td th:onclick='trainerDetail([[${tr.trNo}]])' th:text="${tr.trName}"></td>
					<td th:text="${tr.part}"></td>
					<td th:text="${tr.debut}"></td>
					<td th:text="${tr.tYearTotal}"></td>
					<td th:text="${tr.tAllTotal}"></td>
					<td th:text="${tr.tWinningP}"></td>
					<td th:text="${tr.tComplementRyRate}"></td>
					<td th:text="${tr.tConsecutiveWinningP}"></td>
				</tr>
			</table>
		</th:block>
		
		<th:block th:unless="${#lists.isEmpty(searchJockey)} ">
			<h3>기수 목록</h3>
			<table border=1>
				<tr>
					<th>기수 번호</th>
					<th>기수 이름</th>
					<th>조교 번호</th>
					<th>소속조</th>
					<th>기능가능중량(소속조)</th>
					<th>데뷔일자</th>
					<th>최근 1년 전적</th>
					<th>통산 전적</th>
					<th>통산 승률</th>
					<th>통산 복승률</th>
					<th>통산 연승률</th>
					<th>은퇴 날짜 </th>
				</tr>
				<tr th:each="jk : ${searchJockey}">
					<td th:text="${jk.jkNo}"></td>
					<td th:onclick='jockeyDetail([[${jk.jkNo}]])' th:text="${jk.jkName}"></td>
					<td th:text="${jk.trNo}"></td>
					<td th:text="${jk.part}"></td>
					<td th:text="${jk.jRweight}"></td>
					<td th:text="${jk.debut}"></td>
					<td th:text="${jk.jYearTotal}"></td>
					<td th:text="${jk.jAllTotal}"></td>
					<td th:text="${jk.jConsecutiveWinningP}"></td>
					<td th:text="${jk.jComplementRyRate}"></td>
					<td th:text="${jk.jWinningP}"></td>
					<td th:text="${jk.spDate}"></td>
				</tr>
			</table>
	</div>

	
	<script>
		let token = $("meta[name='_csrf']").attr("content");
		let header = $("meta[name='_csrf_header']").attr("content");
		
		$(function() {
		    $(document).ajaxSend(function(e, xhr, options) {
		        xhr.setRequestHeader(header, token);
		    });
		});
		
		$("#search").keydown(function(key) {
			if (key.keyCode == 13) {
				let search = $("#search").val();
				console.log(search);
				$.ajax({
					url : "/searchTest",
					type : "POST",
					data : {"search" : search},
					dataType : "text",
					success : function(retVal) {
						$("#test").val("");
						$("#test").html(retVal);
					},
					error : function(retVal) {
						alert("error");
					}

				})
			};
		});
		
		function horseDetail(hrNo, trNo){
			
			let form = document.createElement("form");
			form.setAttribute("method", "POST");
			form.setAttribute("action", "/horseDetail");
			
			let hiddenField1 = document.createElement("input");
			hiddenField1.setAttribute("type", "hidden");
			hiddenField1.setAttribute("name", "hrNo");
			hiddenField1.setAttribute("value", hrNo);
			
			let hiddenField2 = document.createElement("input");
			hiddenField2.setAttribute("type", "hidden");
			hiddenField2.setAttribute("name", "trNo");
			hiddenField2.setAttribute("value", trNo);
			
			let csrf1 = document.createElement("input");
			csrf1.setAttribute("type", "hidden");
			csrf1.setAttribute("name", "_csrf");
			csrf1.setAttribute("value", token);

			form.appendChild(csrf1);
			form.appendChild(hiddenField1);
			form.appendChild(hiddenField2);
			
			document.body.appendChild(form);
			form.submit();
		}
		
		function trainerDetail(trNo){
			
			let form = document.createElement("form");
			form.setAttribute("method", "POST");
			form.setAttribute("action", "/trainerDetail");
			
			let hiddenField1 = document.createElement("input");
			hiddenField1.setAttribute("type", "hidden");
			hiddenField1.setAttribute("name", "trNo");
			hiddenField1.setAttribute("value", trNo);
			
			let csrf1 = document.createElement("input");
			csrf1.setAttribute("type", "hidden");
			csrf1.setAttribute("name", "_csrf");
			csrf1.setAttribute("value", token);

			form.appendChild(csrf1);
			form.appendChild(hiddenField1);
			
			document.body.appendChild(form);
			form.submit();
		}
		
		function jockeyDetail(jkNo){
			
			let form = document.createElement("form");
			form.setAttribute("method", "POST");
			form.setAttribute("action", "/jockeyDetail");
			
			let hiddenField1 = document.createElement("input");
			hiddenField1.setAttribute("type", "hidden");
			hiddenField1.setAttribute("name", "jkNo");
			hiddenField1.setAttribute("value", jkNo);
			
			let csrf1 = document.createElement("input");
			csrf1.setAttribute("type", "hidden");
			csrf1.setAttribute("name", "_csrf");
			csrf1.setAttribute("value", token);

			form.appendChild(csrf1);
			form.appendChild(hiddenField1);
			
			document.body.appendChild(form);
			form.submit();
		}
	</script>

</body>
</html>