<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout"
	>
<main layout:fragment="content">
	<!-- slide -->
	<div id="carouselExampleIndicators" class="carousel slide"
		data-ride="carousel" data-interval="false">
		<div id="slideSection">
			<ol class="carousel-indicators">
				<li data-target="#carouselExampleIndicators" data-slide-to="0"
					class="active"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
			</ol>
			<div class="carousel-inner">
				<div class="carousel-item active"
					style="background-image: url('/static/resources/photoUpload/202012211528058dc7ffcb-535b-4c3b-979c-0b5ca94b6b62.PNG')">
					<div class="carousel-caption d-none d-md-block">
						<!-- <h3>초보자 사용가이드</h3>
						<p>초보자를 위한 경마 가이드</p> -->
					</div>
				</div>
				<div class="carousel-item"
					style="background-image: url('/static/resources/photoUpload/20201224155511b9bda3c6-f028-42b0-85f9-68d13ff1d1b0.PNG')">
					<div class="carousel-caption d-none d-md-block">
						<!-- <h3>공지사항</h3>
						<p>마진 공지사항</p> -->
					</div>
				</div>
				<!-- <div class="carousel-item"
					style="background-image: url('http://placehold.it/1900x1080')">
					<div class="carousel-caption d-none d-md-block">
						<h3>Third Slide</h3>
						<p>This is a description for the third slide.</p>
					</div>
				</div> -->
				<a class="carousel-control-prev" href="#carouselExampleIndicators"
					role="button" data-slide="prev"> <span
					class="carousel-control-prev-icon" aria-hidden="true"></span> <span
					class="sr-only">Previous</span>
				</a> <a class="carousel-control-next" href="#carouselExampleIndicators"
					role="button" data-slide="next"> <span
					class="carousel-control-next-icon" aria-hidden="true"></span> <span
					class="sr-only">Next</span>
				</a>
			</div>
			<div class="hak">
			<!-- <div class="young"> -->
				<div class="col-12">
					<h3 class="my-3">&nbsp&nbsp<a onclick="SearchTerms()">인기 검색어</a></h3>
					<div class="w3-bar w3-black">
						<button class="btn btn-dark" onclick="SearchTermsHorses()" >경주마</button>
						<button class="btn btn-dark" onclick="SearchTermsJokey()">기수</button>
						<button class="btn btn-dark" onclick="SearchTermsTrainer()">조교사</button>
					</div>
					<div class="young" id="young" th:each="data, index : ${SearchTermsList}">
						<div th:text="${index.count}+'.&nbsp'+${data.searchword}"></div>
					</div>
				</div>
				<!-- </div> -->
			</div>
		</div>
	</div>

	<!-- Page Content container start-->
	<div class="gride">
		<div id="information" class="container"></div>
	</div>
	<!-- Page Content container end-->

	<script src="/static/js/majin.js"></script>
</main>
<th:block layout:fragment="script">
	<!-- Bootstrap core JavaScript -->
	<script src="/static/vendor/jquery/jquery.min.js"></script>
	<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</th:block>