<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<div id="information" class="container">
	<h1 class="my-4">기수 프로필</h1>
	<table border=1>
		<tr>
			<th>성명</th>
			<td>[[${jockeyDetail.jkName}]]</td>
			<th>소속조</th>
			<td>[[${jockeyDetail.part}]]</td>
			<th>데뷔날짜</th>
			<td>[[${jockeyDetail.debut}]]</td>
			<th>기승 가능 중량</th>
			<td>[[${jockeyDetail.jRweight}]]</td>
			<th>은퇴날짜</th>
			<td>[[${jockeyDetail.spDate}]]</td>
		</tr>
		<tr>
			<th>최근 1년 전적</th>
			<td>[[${jockeyDetail.jYearTotal}]]</td>
			<th>통산 전적</th>
			<td>[[${jockeyDetail.jAllTotal}]]</td>
			<th>승률</th>
			<td>[[${jockeyDetail.jWinningP}]]</td>
			<th>복승률</th>
			<td>[[${jockeyDetail.jComplementRyRate}]]</td>
			<th>연승률</th>
			<td>[[${jockeyDetail.jConsecutiveWinningP}]]</td>
		</tr>
	</table>
</div>