<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div>
		<h3>기수 프로필</h3>
		<table border=1>
			<tr>
				<th>성명</th>
				<td>[[${jockey.jkName}]]</td>
				<th>소속조</th>
				<td>[[${jockey.part}]]</td>
				<th>데뷔날짜</th>
				<td>[[${jockey.debut}]]</td>
				<th>기승 가능 중량</th>
				<td>[[${jockey.jRweight}]]</td>
				<th>은퇴날짜</th>
				<td>[[${jockey.spDate}]]</td>
			</tr>
			<tr>
				<th>최근 1년 전적</th>
				<td>[[${jockey.jYearTotal}]]</td>
				<th>통산 전적</th>
				<td>[[${jockey.jAllTotal}]]</td>
				<th>승률</th>
				<td>[[${jockey.jWinningP}]]</td>
				<th>복승률</th>
				<td>[[${jockey.jComplementRyRate}]]</td>
				<th>연승률</th>
				<td>[[${jockey.jConsecutiveWinningP}]]</td>
			</tr>

		</table>
	</div>
</body>
</html>