<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
</head>
<body>
<div>
		<form action="check.do" method="get" id="searchForm">
			<div>
				<div>
					<ul>
						<li>주제 :</li>
						<li><input type="checkbox" id="s1"
							name=attract value="맛집" /><label for="s1">맛집</label></li>
						<li><input type="checkbox" id="s3"
							name="attract" value="명소" /><label for="s3">명소</label></li>
						<li ><input type="checkbox" id="s2"
							name="attract" value="숙소" /><label for="s2">숙소</label></li>
					</ul>
				</div>

				<div class="search_div2">
					<ul>
						<li class="search_li">지역 :</li>
					</ul>
					<ul>
						<li><input type="checkbox" id="r1" name="area" value="서울" />
							<label for="r1">서울</label></li>
						<li><input type="checkbox" id="r2" name="area" value="인천" />
							<label for="r2">인천</label></li>
						<li><input type="checkbox" id="r3" name="area" value="대전" />
							<label for="r3">대전</label></li>
					</ul>
					<ul>
						<li><input type="checkbox" id="r4" name="area" value="광주" />
							<label for="r4">광주</label></li>
						<li><input type="checkbox" id="r5" name="area" value="부산" />
							<label for="r5">부산</label></li>
						<li><input type="checkbox" id="r6" name="area" value="대구" />
							<label for="r6">대구</label></li>
					</ul>
					<ul>
						<li><input type="checkbox" id="r7" name="area" value="경기" />
							<label for="r7">경기</label></li>
						<li><input type="checkbox" id="r8" name="area" value="강원" />
							<label for="r8">강원</label></li>
						<li><input type="checkbox" id="r9" name="area" value="충청" />
							<label for="r9">충청</label></li>
					</ul>
					<ul>
						<li><input type="checkbox" id="r10" name="area" value="호남" />
							<label for="r10">호남</label></li>
						<li><input type="checkbox" id="r11" name="area" value="영남" />
							<label for="r11">영남</label></li>
						<li><input type="checkbox" id="r12" name="area" value="제주" />
							<label for="r12">제주</label></li>
					</ul>
				</div>
			</div>
			<!-- search_ctn END -->
			<div>
		<select name="searchType">
					<option>선택</option>
					<option value="id">ID</option>
					<option value="title">제목</option>
				</select> <input type="text" class="searchbox" name="searchWord" /> 

				<button class="btn" type="submit">전송</button>
			</div>
			<!-- search_box END-->
		</form>
	</div>
</body>
</html>