<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<div id="information" class="container">
	<h1 class="my-4">조교사 프로필</h1>
		<div class="row justify-content-md-center">
		<div class="col-sm-1-top">성명</div>
		<div class="col-sm-2" th:text="${trainerDetail.trName}"></div>
		<div class="col-sm-1-top">소속조</div>
		<div class="col-sm-1" th:text="${trainerDetail.part}"></div>
		<div class="col-sm-1-top">데뷔날짜</div>
		<div class="col-sm-1" th:text="${trainerDetail.debut}"></div>
		<div class="col-sm-1-top">최근1년</div>
		<div class="col-md-4" th:text="${trainerDetail.tYearTotal}"></div>
		<div class="col-sm-1-top">승률</div>
		<div class="col-sm-2" th:text="${trainerDetail.tWinningP}"></div>
		<div class="col-sm-1-top">복승률</div>
		<div class="col-sm-1" th:text="${trainerDetail.tComplementRyRate}"></div>
		<div class="col-sm-1-top">연승률</div>
		<div class="col-sm-1" th:text="${trainerDetail.tConsecutiveWinningP}"></div>
		<div class="col-sm-1-top">통산전적 </div>
		<div class="col-md" th:text="${trainerDetail.tAllTotal}"></div>
	</div>
</div>