<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">
<main layout:fragment="content">

	<!-- Page Content container -->
	<div class="gride">
		<div id="information" class="container">
			<h1 class="my-4">서울 명예의 전당</h1>
			<div class="row justify-content-md-center">
				<div class="col-sm-top">해당연도</div>
				<div class="col-sm-top">연도 대표마</div>
				<div class="col-sm-top">최우수 국내산마</div>
				<div class="col-sm-top">최우수 국내산 3세마</div>
				<div class="col-sm-top">최우수 조교사</div>
				<div class="col-sm-top">최우수 기수</div>
				<div class="col-sm-top">페어플레이 기수</div>
				<div class="col-sm-top">최우수 신인기수</div>
				<div class="col-sm-top">최우수 관리조</div>
			</div>
			<th:block th:each="yundo : ${seoul}">
				<!-- Marketing Icons Section -->
				<div class="row justify-content-md-center">
					<div class="col-sm" th:text="${yundo.yundoJpaKey.getYear()}"></div>
					<div class="col-sm"
						th:onclick="horseDetail([[${seoulSeq[yundoStat.index][0]}]], [[\'1\']])"
						th:text=${seoulName[yundoStat.index][0]}></div>
					<div class="col-sm"
						th:onclick="horseDetail([[${seoulSeq[yundoStat.index][1]}]], [[\'1\']])"
						th:text=${seoulName[yundoStat.index][1]}></div>
					<div class="col-sm"
						th:onclick="horseDetail([[${seoulSeq[yundoStat.index][2]}]], [[\'1\']])"
						th:text=${seoulName[yundoStat.index][2]}></div>
					<div class="col-sm"
						th:onclick="trainerDetail([[${seoulSeq[yundoStat.index][3]}]])"
						th:text=${seoulName[yundoStat.index][3]}></div>
					<div class="col-sm"
						th:onclick="jockeyDetail([[${seoulSeq[yundoStat.index][4]}]])"
						th:text=${seoulName[yundoStat.index][4]}></div>
					<div class="col-sm"
						th:onclick="jockeyDetail([[${seoulSeq[yundoStat.index][5]}]])"
						th:text=${seoulName[yundoStat.index][5]}></div>
					<div class="col-sm"
						th:onclick="jockeyDetail([[${seoulSeq[yundoStat.index][6]}]])"
						th:text=${seoulName[yundoStat.index][6]}></div>
					<div class="col-sm" th:text="${yundo.jo}"></div>
				</div>
			</th:block>
		</div>

		<div id="information" class="container">
			<h1 class="my-4">제주 명예의 전당</h1>
			<div class="row justify-content-md-center">
				<div class="col-sm-top">해당연도</div>
				<div class="col-sm-top">최우수 제주마</div>
				<div class="col-sm-top">최우수 한라마</div>
				<div class="col-sm-top">최우수 마주</div>
				<div class="col-sm-top">최우수 조교사</div>
				<div class="col-sm-top">최우수 기수</div>
				<div class="col-sm-top">인기 기수</div>
				<div class="col-sm-top">페어플레이 기수</div>
				<div class="col-sm-top">최우수 관리조</div>
			</div>
			<th:block th:each="yundo : ${jeju}">
				<!-- Marketing Icons Section -->
				<div class="row justify-content-md-center">
					<div class="col-sm" th:text="${yundo.yundoJpaKey.getYear()}"></div>
					<div class="col-sm"
						th:onclick="horseDetail([[${jejuSeq[yundoStat.index][0]}]], [[\'2\']])"
						th:text=${jejuName[yundoStat.index][0]}></div>
					<div class="col-sm"
						th:onclick="horseDetail([[${jejuSeq[yundoStat.index][0]}]], [[\'2\']])"
						th:text=${jejuName[yundoStat.index][0]}></div>
					<div class="col-sm" th:text=${jejuName[yundoStat.index][2]}></div>
					<div class="col-sm"
						th:onclick="trainerDetail([[${jejuSeq[yundoStat.index][3]}]])"
						th:text=${jejuName[yundoStat.index][3]}></div>
					<div class="col-sm"
						th:onclick="jockeyDetail([[${jejuSeq[yundoStat.index][4]}]])"
						th:text=${jejuName[yundoStat.index][4]}></div>
					<div class="col-sm"
						th:onclick="jockeyDetail([[${jejuSeq[yundoStat.index][5]}]])"
						th:text=${jejuName[yundoStat.index][5]}></div>
					<div class="col-sm"
						th:onclick="jockeyDetail([[${jejuSeq[yundoStat.index][6]}]])"
						th:text=${jejuName[yundoStat.index][6]}></div>
					<div class="col-sm" th:text="${yundo.jo}"></div>
				</div>
			</th:block>
		</div>
		<div id="information" class="container">
			<h1 class="my-4">부산경남 명예의 전당</h1>
			<div class="row justify-content-md-center">
				<div class="col-sm-top">해당연도</div>
				<div class="col-sm-top">연도 대표마</div>
				<div class="col-sm-top">최우수 국내산마</div>
				<div class="col-sm-top">최우수 국내산 3세마</div>
				<div class="col-sm-top">최우수 조교사</div>
				<div class="col-sm-top">최우수 기수</div>
				<div class="col-sm-top">페어플레이 기수</div>
				<div class="col-sm-top">최우수 신인기수</div>
				<div class="col-sm-top">최우수 관리조</div>
			</div>
			<th:block th:each="yundo : ${busan}">
				<!-- Marketing Icons Section -->
				<div class="row justify-content-md-center">
					<div class="col-sm" th:text="${yundo.yundoJpaKey.getYear()}"></div>
					<div class="col-sm"
						th:onclick="horseDetail([[${busanSeq[yundoStat.index][0]}]], [[\'3\']])"
						th:text=${busanName[yundoStat.index][0]}></div>
					<div class="col-sm"
						th:onclick="horseDetail([[${busanSeq[yundoStat.index][1]}]], [[\'3\']])"
						th:text=${busanName[yundoStat.index][1]}></div>
					<div class="col-sm"
						th:onclick="horseDetail([[${busanSeq[yundoStat.index][2]}]], [[\'3\']])"
						th:text=${busanName[yundoStat.index][2]}></div>
					<div class="col-sm"
						th:onclick="trainerDetail([[${busanSeq[yundoStat.index][3]}]])"
						th:text=${busanName[yundoStat.index][3]}></div>
					<div class="col-sm"
						th:onclick="jockeyDetail([[${busanSeq[yundoStat.index][4]}]])"
						th:text=${busanName[yundoStat.index][4]}></div>
					<div class="col-sm"
						th:onclick="jockeyDetail([[${busanSeq[yundoStat.index][5]}]])"
						th:text=${busanName[yundoStat.index][5]}></div>
					<div class="col-sm"
						th:onclick="jockeyDetail([[${busanSeq[yundoStat.index][6]}]])"
						th:text=${busanName[yundoStat.index][6]}></div>
					<div class="col-sm" th:text="${yundo.jo}"></div>
				</div>
			</th:block>
		</div>
	</div>
	<!-- Page Content container -->
</main>
<th:block layout:fragment="script">
	<!-- Bootstrap core JavaScript -->
	<script src="/static/vendor/jquery/jquery.min.js"></script>
	<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script th:inline="javascript">
		let token = $("meta[name='_csrf']").attr("content");
		let header = $("meta[name='_csrf_header']").attr("content");

		function horseDetail(hrNo, meet) {
			if (hrNo != 0) {
				let form = document.createElement("form");
				form.setAttribute("method", "POST");
				form.setAttribute("action", "/horseDetail");

				let hiddenField1 = document.createElement("input");
				hiddenField1.setAttribute("type", "hidden");
				hiddenField1.setAttribute("name", "hrNo");
				hiddenField1.setAttribute("value", hrNo);

				/* let hiddenField2 = document.createElement("input");
				hiddenField2.setAttribute("type", "hidden");
				hiddenField2.setAttribute("name", "trNo");
				hiddenField2.setAttribute("value", trNo); */

				let hiddenField3 = document.createElement("input");
				hiddenField3.setAttribute("type", "hidden");
				hiddenField3.setAttribute("name", "meet");
				hiddenField3.setAttribute("value", meet);

				let csrf1 = document.createElement("input");
				csrf1.setAttribute("type", "hidden");
				csrf1.setAttribute("name", "_csrf");
				csrf1.setAttribute("value", token);

				form.appendChild(csrf1);
				form.appendChild(hiddenField1);
				//form.appendChild(hiddenField2);
				form.appendChild(hiddenField3);
				document.body.appendChild(form);
				form.submit();
			}
		}

		function trainerDetail(trNo) {
			if (trNo != 0) {
				let form = document.createElement("form");
				form.setAttribute("method", "POST");
				form.setAttribute("action", "/trainerDetail");

				let hiddenField1 = document.createElement("input");
				hiddenField1.setAttribute("type", "hidden");
				hiddenField1.setAttribute("name", "trNo");
				hiddenField1.setAttribute("value", trNo);

				let csrf1 = document.createElement("input");
				csrf1.setAttribute("type", "hidden");
				csrf1.setAttribute("name", "_csrf");
				csrf1.setAttribute("value", token);

				form.appendChild(csrf1);
				form.appendChild(hiddenField1);

				document.body.appendChild(form);
				form.submit();
			}
		}

		function jockeyDetail(jkNo) {
			if (jkNo != 0) {
				let form = document.createElement("form");
				form.setAttribute("method", "POST");
				form.setAttribute("action", "/jockeyDetail");

				let hiddenField1 = document.createElement("input");
				hiddenField1.setAttribute("type", "hidden");
				hiddenField1.setAttribute("name", "jkNo");
				hiddenField1.setAttribute("value", jkNo);

				let csrf1 = document.createElement("input");
				csrf1.setAttribute("type", "hidden");
				csrf1.setAttribute("name", "_csrf");
				csrf1.setAttribute("value", token);

				form.appendChild(csrf1);
				form.appendChild(hiddenField1);

				document.body.appendChild(form);
				form.submit();
			}
		}
	</script>
</th:block>