<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
<meta id="_csrf_header" name="_csrf_header"
	th:content="${_csrf.headerName}" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	서울
	<table border=1>
		<tr>
			<th>해당연도</th>
			<th>연도 대표마</th>
			<th>최우수 국내산마</th>
			<th>최우수 국내산 3세마</th>
			<th>최우수 조교사</th>
			<th>최우수 기수</th>
			<th>페어플레이 기수</th>
			<th>최우수 신인기수</th>
			<th>최우수 관리조</th>
		</tr>

		<tr th:each="yundo : ${seoul}">
			<td th:text="${yundo.yundoJpaKey.getYear()}"></td>
			<td
				th:onclick="horseDetail([[${seoulSeq[yundoStat.index][0]}]], [[\'002001\']])"
				th:text=${seoulName[yundoStat.index][0]}></td>
			<td
				th:onclick="horseDetail([[${seoulSeq[yundoStat.index][1]}]], [[\'002001\']])"
				th:text=${seoulName[yundoStat.index][1]}></td>
			<td
				th:onclick="horseDetail([[${seoulSeq[yundoStat.index][2]}]], [[\'002001\']])"
				th:text=${seoulName[yundoStat.index][2]}></td>
			<td th:onclick="trainerDetail([[${seoulSeq[yundoStat.index][3]}]])"
				th:text=${seoulName[yundoStat.index][3]}></td>
			<td th:onclick="jockeyDetail([[${seoulSeq[yundoStat.index][4]}]])"
				th:text=${seoulName[yundoStat.index][4]}></td>
			<td th:onclick="jockeyDetail([[${seoulSeq[yundoStat.index][5]}]])"
				th:text=${seoulName[yundoStat.index][5]}></td>
			<td th:onclick="jockeyDetail([[${seoulSeq[yundoStat.index][6]}]])"
				th:text=${seoulName[yundoStat.index][6]}></td>
			<!--<td><a th:href="@{/view(id=${seoulSeq[yundoStat.index][6]})}"><span th:text=${seoulName[yundoStat.index][6]}></span></a></td>
		 	<th:block th:each="seoulName : ${seoulName[yundoStat.index]}">
				<td><a th:href="@{/view(id=${seoulSeq[yundoStat.index][seoulNameStat.index]})}"><span th:text=${seoulName}></span></a></td>
			</th:block> -->
			<td th:text="${yundo.jo}"></td>
		</tr>
	</table>

	제주
	<table border=1>
		<tr>
			<th>해당연도</th>
			<th>최우수 제주마</th>
			<th>최우수 한라마</th>
			<th>최우수 마주</th>
			<th>최우수 조교사</th>
			<th>최우수 기수</th>
			<th>인기 기수</th>
			<th>페어플레이 기수</th>
			<th>최우수 관리조</th>
		</tr>
		<tr th:each="yundo : ${jeju}">
			<td th:text="${yundo.yundoJpaKey.getYear()}"></td>
			<td
				th:onclick="horseDetail([[${jejuSeq[yundoStat.index][0]}]], [[\'002001\']])"
				th:text=${jejuName[yundoStat.index][0]}></td>
			<td
				th:onclick="horseDetail([[${jejuSeq[yundoStat.index][1]}]], [[\'002001\']])"
				th:text=${jejuName[yundoStat.index][1]}></td>
			<td th:text=${jejuName[yundoStat.index][2]}></td>
			<td th:onclick="trainerDetail([[${jejuSeq[yundoStat.index][3]}]])"
				th:text=${jejuName[yundoStat.index][3]}></td>
			<td th:onclick="jockeyDetail([[${jejuSeq[yundoStat.index][4]}]])"
				th:text=${jejuName[yundoStat.index][4]}></td>
			<td th:onclick="jockeyDetail([[${jejuSeq[yundoStat.index][5]}]])"
				th:text=${jejuName[yundoStat.index][5]}></td>
			<td th:onclick="jockeyDetail([[${jejuSeq[yundoStat.index][6]}]])"
				th:text=${jejuName[yundoStat.index][6]}></td>
			<!-- <th:block th:each="jejuName : ${jejuName[yundoStat.index]}">
				<td><a th:href="@{/view(id=${jejuSeq[yundoStat.index][jejuNameStat.index]})}"><span th:text=${jejuName}></span></a></td>
			</th:block> -->
			<td th:text="${yundo.jo}"></td>
		</tr>
	</table>

	부산
	<table border=1>
		<tr>
			<th>해당연도</th>
			<th>연도 대표마</th>
			<th>최우수 국내산마</th>
			<th>최우수 국내산 3세마</th>
			<th>최우수 조교사</th>
			<th>최우수 기수</th>
			<th>페어플레이 기수</th>
			<th>최우수 신인기수</th>
			<th>최우수 관리조</th>
		</tr>
		<tr th:each="yundo : ${busan}">
			<td th:text="${yundo.yundoJpaKey.getYear()}"></td>
			<td
				th:onclick="horseDetail([[${busanSeq[yundoStat.index][0]}]], [[\'002001\']])"
				th:text=${busanName[yundoStat.index][0]}></td>
			<td
				th:onclick="horseDetail([[${busanSeq[yundoStat.index][1]}]], [[\'002001\']])"
				th:text=${busanName[yundoStat.index][1]}></td>
			<td
				th:onclick="horseDetail([[${busanSeq[yundoStat.index][2]}]], [[\'002001\']])"
				th:text=${busanName[yundoStat.index][2]}></td>
			<td th:onclick="trainerDetail([[${busanSeq[yundoStat.index][3]}]])"
				th:text=${busanName[yundoStat.index][3]}></td>
			<td th:onclick="jockeyDetail([[${busanSeq[yundoStat.index][4]}]])"
				th:text=${busanName[yundoStat.index][4]}></td>
			<td th:onclick="jockeyDetail([[${busanSeq[yundoStat.index][5]}]])"
				th:text=${busanName[yundoStat.index][5]}></td>
			<td th:onclick="jockeyDetail([[${busanSeq[yundoStat.index][6]}]])"
				th:text=${busanName[yundoStat.index][6]}></td>
			<!-- <th:block th:each="busanName : ${busanName[yundoStat.index]}">
				<td><a th:href="@{/view(id=${busanSeq[yundoStat.index][busanNameStat.index]})}"><span th:text=${busanName}></span></a></td>
			</th:block> -->
			<td th:text="${yundo.jo}"></td>
		</tr>
	</table>

	<script>
		let token = $("meta[name='_csrf']").attr("content");
		let header = $("meta[name='_csrf_header']").attr("content");

		function horseDetail(hrNo, trNo) {
			if (hrNo != 0) {
				let form = document.createElement("form");
				form.setAttribute("method", "POST");
				form.setAttribute("action", "/horseDetail");

				let hiddenField1 = document.createElement("input");
				hiddenField1.setAttribute("type", "hidden");
				hiddenField1.setAttribute("name", "hrNo");
				hiddenField1.setAttribute("value", hrNo);

				let hiddenField2 = document.createElement("input");
				hiddenField2.setAttribute("type", "hidden");
				hiddenField2.setAttribute("name", "trNo");
				hiddenField2.setAttribute("value", trNo);

				let csrf1 = document.createElement("input");
				csrf1.setAttribute("type", "hidden");
				csrf1.setAttribute("name", "_csrf");
				csrf1.setAttribute("value", token);

				form.appendChild(csrf1);
				form.appendChild(hiddenField1);
				form.appendChild(hiddenField2);

				document.body.appendChild(form);
				form.submit();
			}
		}

		function trainerDetail(trNo) {
			if (trNo != 0) {
				let form = document.createElement("form");
				form.setAttribute("method", "POST");
				form.setAttribute("action", "/trainerDetail");

				let hiddenField1 = document.createElement("input");
				hiddenField1.setAttribute("type", "hidden");
				hiddenField1.setAttribute("name", "trNo");
				hiddenField1.setAttribute("value", trNo);

				let csrf1 = document.createElement("input");
				csrf1.setAttribute("type", "hidden");
				csrf1.setAttribute("name", "_csrf");
				csrf1.setAttribute("value", token);

				form.appendChild(csrf1);
				form.appendChild(hiddenField1);

				document.body.appendChild(form);
				form.submit();
			}
		}

		function jockeyDetail(jkNo) {
			if (jkNo != 0) {
				let form = document.createElement("form");
				form.setAttribute("method", "POST");
				form.setAttribute("action", "/jockeyDetail");

				let hiddenField1 = document.createElement("input");
				hiddenField1.setAttribute("type", "hidden");
				hiddenField1.setAttribute("name", "jkNo");
				hiddenField1.setAttribute("value", jkNo);

				let csrf1 = document.createElement("input");
				csrf1.setAttribute("type", "hidden");
				csrf1.setAttribute("name", "_csrf");
				csrf1.setAttribute("value", token);

				form.appendChild(csrf1);
				form.appendChild(hiddenField1);

				document.body.appendChild(form);
				form.submit();
			}
		}
	</script>
</body>
</html>